<div cdkDropListGroup>

    <div class="barton-container">
        <mat-card class="barton" *ngFor="let barton of (bartonsData$ | async); index as i" >
            <mat-card-header class="barton-header" *ngIf="barton.active">

                <mat-form-field *ngIf="editAllowed && isOwner(barton)">
                    <form ngForm [ngFormOptions]="{updateOn: 'blur'}">
                        <input type="text" matInput appearance="standard" ngModel [(ngModel)]="barton.bartonName"
                            [ngModelOptions]="{standalone: true}" [value]="barton.bartonName"
                            [disabled]="!isOwner(barton)">
                    </form>
                </mat-form-field>

                <span *ngIf="!editAllowed || !isOwner(barton)" class="header-title">
                    {{barton.bartonName}}
                </span>

                <div class="header-buttons" *ngIf="editAllowed">
                    <button mat-icon-button color="primary" matTooltip="Megosztások" matTooltipPosition="below"
                        matTooltipShowDelay=250 matTooltipHideDelay=500>
                        <mat-icon>share</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" matTooltip="Új udvar hozzáadása" matTooltipPosition="below"
                        matTooltipShowDelay=250 matTooltipHideDelay=500 (click)="addNewBarton(i)">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" matTooltip="Udvar törlése" matTooltipPosition="below"
                        matTooltipShowDelay=250 matTooltipHideDelay=500 (click)="deleteBarton(barton)"
                        [disabled]="!isOwner(barton)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>

            </mat-card-header>

            <div class="poultry-list" cdkDropList [cdkDropListData]="(barton.poultry)"
                (cdkDropListDropped)="drop($event)" cdkDropListOrientation="horizontal"
                [cdkDropListEnterPredicate]="isOwner(barton) ? allowMove : denyMove">
                <div class="items" *ngFor="let item of (barton.poultry)" cdkDrag [matBadge]="item.quantity"
                    matBadgeColor="accent" [matMenuTriggerFor]="menu" [cdkDragDisabled]="!isOwner(barton)"
                    (menuClosed)="saveBarton(barton)">
                    <mat-menu #menu="matMenu" (click)="$event.stopPropagation()">
                        <form class="item-form" ngForm mat-menu-item [ngFormOptions]="{updateOn: 'blur'}">
                            <mat-form-field class="form-field" appearance="standard">
                                <mat-label>egyedszám</mat-label>
                                <div>
                                    <input type="number" matInput ngModel placeholder="egyedszám"
                                        [(ngModel)]="item.quantity" [ngModelOptions]="{standalone: true}"
                                        [value]="item.quantity" min=0 (keyup.enter)="trigger.closeMenu()"
                                        (click)="$event.stopPropagation()">
                                </div>
                            </mat-form-field>
                            <mat-form-field class="form-field" appearance="standard">
                                <mat-label>név</mat-label>
                                <input type="text" matInput ngModel placeholder="egyedi név"
                                    [(ngModel)]="item.customName" [ngModelOptions]="{standalone: true}"
                                    [value]="item.customName || ''" (keyup.enter)="trigger.closeMenu()"
                                    (click)="$event.stopPropagation()">
                            </mat-form-field>
                            <mat-form-field class="form-field" appearance="standard" *ngIf="editAllowed">
                                <mat-label>beszerzés dátuma</mat-label>
                                <input type="date" matInput ngModel placeholder="beszerzés dátuma"
                                    [(ngModel)]="item.purchaseDate" [ngModelOptions]="{standalone: true}"
                                    [value]="item.purchaseDate" (keyup.enter)="trigger.closeMenu()"
                                    (click)="$event.stopPropagation()">
                            </mat-form-field>
                            <mat-form-field class="form-field" appearance="standard" *ngIf="editAllowed">
                                <mat-label>ár</mat-label>
                                <input type="number" matInput ngModel placeholder="egyed ára"
                                    [(ngModel)]="item.purchasePrice" [ngModelOptions]="{standalone: true}"
                                    [value]="item.purchasePrice" min=0 (keyup.enter)="trigger.closeMenu()"
                                    (click)="$event.stopPropagation()">
                                <span matSuffix>Ft</span>
                            </mat-form-field>
                            <mat-form-field class="form-field" appearance="standard" *ngIf="editAllowed">
                                <mat-label>kor</mat-label>
                                <input type="number" matInput ngModel placeholder="egyed kora beszerzéskor"
                                    [(ngModel)]="item.ageAtPurchase" [ngModelOptions]="{standalone: true}"
                                    [value]="item.ageAtPurchase" min=0 (keyup.enter)="trigger.closeMenu()"
                                    (click)="$event.stopPropagation()">
                                <span matSuffix>hét</span>
                            </mat-form-field>
                        </form>
                    </mat-menu>
                    <img [src]="URL + item.image" [alt]="item.species">
                    <h5 *ngIf="!item.customName">{{item.species}}</h5>
                    <h5 *ngIf="item.customName">{{item.customName}}</h5>
                    <h6 *ngIf="!item.customName && (item.nameOfSex !== item.species)">{{item.nameOfSex}}</h6>
                </div>
            </div>
        </mat-card>
    </div>

    <div *ngIf="editAllowed" class="poultry-container">
        <mat-expansion-panel [hideToggle]="false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h2>Baromfi fajták</h2>
                </mat-panel-title>
                <!-- <mat-panel-description></mat-panel-description> -->
            </mat-expansion-panel-header>
            <div id="source-list" class="poultry-list" cdkDropList [cdkDropListData]="poultry"
                (cdkDropListDropped)="drop($event)" cdkDropListOrientation="horizontal">
                <div class="items" *ngFor="let item of poultry" cdkDrag>
                    <img [src]="URL + item.image" [alt]="item.species">
                    <h5>{{item.species}}</h5>
                    <h6 *ngIf="item.nameOfSex !== item.species">{{item.nameOfSex}}</h6>
                </div>
            </div>
        </mat-expansion-panel>



    </div>

</div>