<div cdkDropListGroup>
    <div class="barton-container">
        <h2>Udvar lakói</h2>

        <div class="poultry-list" cdkDropList [cdkDropListData]="barton" (cdkDropListDropped)="drop($event)">
            <div [id]="i" class="items" *ngFor="let item of barton; index as i" cdkDrag [matBadge]="item.quantity"
                matBadgeColor="accent" [matMenuTriggerFor]="menu" (click)="logger(item)">
                <!-- [ngStyle]="{'background-image': 'url(' + item.image + ')'}"> -->
                <mat-menu #menu="matMenu" (click)="$event.stopPropagation()">
                    <form class="item-form" ngForm mat-menu-item [ngFormOptions]="{updateOn: 'blur'}">
                        <mat-form-field class="form-field" appearance="standard">
                            <mat-label>egyedszám</mat-label>
                            <div>
                                <input type="number" matInput ngModel placeholder="egyedszám"
                                    [(ngModel)]="item.quantity" [ngModelOptions]="{standalone: true}"
                                    [value]="item.quantity" min=0 
                                    (keyup.enter)="trigger.closeMenu()"
                                    (click)="$event.stopPropagation()">
                            </div>
                        </mat-form-field>

                        <mat-form-field class="form-field" appearance="standard">
                            <mat-label>név</mat-label>
                            <input type="text" matInput ngModel placeholder="egyedi név" 
                                [(ngModel)]="item.customName" [ngModelOptions]="{standalone: true}" 
                                [value]="item.customName || ''"
                                (keyup.enter)="trigger.closeMenu()"
                                (click)="$event.stopPropagation()" >
                        </mat-form-field>
                        <!-- <p>{{item}}</p> -->
                    </form>
                </mat-menu>
                <img [src]="URL + item.image" [alt]="item.species">
                <h4 *ngIf="!item.customName">{{item.species}}</h4>
                <h4 *ngIf="item.customName">{{item.customName}}</h4>
            </div>
        </div>
    </div>

    <div class="barton-container">
        <h2>Baromfi fajták</h2>

        <div class="poultry-list" cdkDropList [cdkDropListData]="poultry" (cdkDropListDropped)="drop($event)">
            <div class="items" *ngFor="let item of poultry" cdkDrag>
                <!-- [ngStyle]="{'background-image': 'url(' + item.image + ')'}"> -->
                <img [src]="URL + item.image" [alt]="item.species">
                <h4>{{item.species}}</h4>
            </div>
        </div>
    </div>
</div>