<div cdkDropListGroup>
    <div class="barton-container">
        <h2>Udvar lakói</h2>

        <div class="poultry-list" cdkDropList [cdkDropListData]="barton" (cdkDropListDropped)="drop($event)">
            <div [id]="i" class="items" *ngFor="let item of barton; index as i" cdkDrag [matBadge]="item.qty" matBadgeColor="accent"
                [matMenuTriggerFor]="menu" (click)="logger(item)">
                <!-- (click)="openDialog(item, i)" > -->
            <!-- <div class="items" *ngFor="let item of barton; index as i" cdkDrag [matBadge]="item.qty" matBadgeColor="accent"
                (click)="selectedItem = selectedItem === item ? null : item" (click)="openMenu(i, item)" cdkOverlayOrigin #trigger="cdkOverlayOrigin"> -->
                <!-- (click)="openMenu(i)" cdkOverlayOrigin #trigger="cdkOverlayOrigin"> -->
                <!-- <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
                    [cdkConnectedOverlayOpen]="selectedItem === item" hasBackdrop 
                    (backdropClick)="isOpen=false"> -->
                <!-- <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
                    [cdkConnectedOverlayOpen]="item.isOpen"> -->
                    <!-- <form class="item-form" ngForm>
                        <mat-form-field class="form-field" appearance="standard">
                            <mat-label>egyedszám</mat-label>
                            <input type="number" matInput placeholder="egyedszám" [value]="item.qty">
                        </mat-form-field>

                        <mat-form-field class="form-field" appearance="standard">
                            <mat-label>név</mat-label>
                            <input type="text" matInput placeholder="egyedi név">
                        </mat-form-field>
                        <p>{{item}}</p>
                    </form> -->
                <!-- </ng-template> -->
                <!-- [ngStyle]="{'background-image': 'url(' + item.image + ')'}"> -->
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="item.qty=item.qty+1" (click)="$event.stopPropagation()">+</button>
                    <button mat-menu-item (click)="item.qty=item.qty-1" (click)="$event.stopPropagation()">-</button>
                </mat-menu>
                <img [src]="item.image" alt="">
                <h4 *ngIf="!item.customName">{{item.species}} {{i}}</h4>
                <h4 *ngIf="item.customName">{{item.customName}}</h4>
                <h6 >{{item.isOpen}}</h6>
            </div>
        </div>
    </div>

    <div class="barton-container">
        <h2>Baromfi fajták</h2>

        <div class="poultry-list" cdkDropList [cdkDropListData]="poultry" (cdkDropListDropped)="drop($event)">
            <div class="items" *ngFor="let item of poultry" cdkDrag>
                <!-- [ngStyle]="{'background-image': 'url(' + item.image + ')'}"> -->
                <img  [src]="item.image" alt="">
                <h4 >{{item.species}}</h4>
            </div>
        </div>
    </div>
</div>