<mat-stepper class="stepper" [linear]="true" #stepper [orientation]="(stepperOrientation | async)!"
    [selectedIndex]="stepperIndex" (selectionChange)="getStepperIndex($event)">

    <mat-step state="login">
        <ng-template matStepLabel>
            <p class="label">Regisztrálj vagy jelentkezz be!</p>
        </ng-template>
        <!-- <div class="auth">
            <div>
                <button mat-fab (click)="openLoginDialog()">
                    <mat-icon>login</mat-icon>
                </button>
                <p>bejelentkezés</p>
            </div>
            <div>
                <button mat-fab (click)="openRegDialog()">
                    <mat-icon>person_add</mat-icon>
                </button>
                <p>regisztráció</p>
            </div>
        </div> -->
    </mat-step>

    <mat-step state="barton">
        <ng-template matStepLabel>
            <p class="label link" (click)="tabIndex=0">
                Hozz létre egy udvart...
            </p>
            <p class="label link" (click)="tabIndex=1">
                ...vagy csatlakozz egy regisztrált felhasználóhoz
            </p>

        </ng-template>
        <mat-tab-group class="tab-group" mat-align-tabs="center" [selectedIndex]="tabIndex">
            <mat-tab class="tab-content" label="létrehozok">
                <app-barton ></app-barton>
                <button mat-raised-button color="accent" matStepperNext (click)="saveBarton()">
                    Kész!
                </button>
            </mat-tab>
            <mat-tab label="csatlakozok">
                <form class="invite" (ngSubmit)="sendInvite()">
                    <mat-form-field appearance="standard">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput [formControl]="requestEmailFormControl" placeholder="mail@user.com" 
                            (input)="checkEmailIsValid(requestEmailFormControl.value)"
                            (keyup.enter)="checkEmailIsValid(requestEmailFormControl.value)">
                        <mat-icon matSuffix *ngIf="isEmailValid" [ngStyle]="{'color': 'green'}">check_cicrcle</mat-icon>
                        <mat-icon matSuffix *ngIf="isEmailValid === false" color="warn">highlight_off</mat-icon>
                        <mat-hint *ngIf="isEmailValid === null">Kérlek add meg annak a regisztrált felhasználónak az email címét, akihez
                            csatlakozni
                            kívánsz!</mat-hint>
                            <mat-error
                            *ngIf="requestEmailFormControl.hasError('email') && !requestEmailFormControl.hasError('required')">
                            Kérlek valós email címet adj meg!
                        </mat-error>
                        <mat-error *ngIf="requestEmailFormControl.hasError('required')">
                            Az email cím megadása <strong>kötelező</strong>
                        </mat-error>
                        <mat-error *ngIf="isEmailValid === false">
                            Nem regisztrált e-mail cím
                        </mat-error>
                    </mat-form-field>
                    <button type="submit" mat-fab color="accent" mat-raised-button
                        [disabled]="requestEmailFormControl.invalid || !isEmailValid">
                        <mat-icon>send</mat-icon>
                    </button>
                </form>
            </mat-tab>
        </mat-tab-group>

    </mat-step>

    <mat-step label="Kész!" state="completed">
        <div class="done" >
            <h3>Gratulálunk!</h3>
            <p>Sikeresen megtetted az első lépéseket</p>
            <mat-icon >task_alt</mat-icon>
            <a routerLink="/barton" routerLinkActive="active" >
                Irány a főoldal! {{counter}}
            </a>
        </div>
    </mat-step>

    <!-- Icon Overrides -->
    <ng-template matStepperIcon="login">
        <mat-icon>person_add</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="barton">
        <mat-icon>fence</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="completed">
        <mat-icon>how_to_reg</mat-icon>
    </ng-template>

</mat-stepper>