<div class="notice-container" *ngIf="notice.type === 'request'">
    <img [src]="notice.avatarUrl ? notice.avatarUrl : URL + 'images/favicon2.ico'" alt="favicon">
    <div class="content-container">
        <p>{{notice.user?.username}} hozzáférést kér</p>
        <div class="button-container">
            <button mat-raised-button color="accent" (click)="acceptRequest()">
                Jóváhagy
            </button>
            <button mat-raised-button color="warn" (click)="rejectRequest(notice._id)">
                Elutasít
            </button>
        </div>
        <small>{{notice.timestamp | date: 'yyyy.MMMM dd, EEEE HH:mm:ss'}}</small>
    </div>
</div>
<div class="notice-container" *ngIf="notice.type === 'invite'">
    <img [src]="notice.avatarUrl ? notice.avatarUrl : URL + 'images/favicon2.ico'" alt="favicon">
    <div class="content-container">
        <p>{{notice.user?.username}} meghívott a(z) {{notice.barton?.bartonName}} nevű udvara kezelésére</p>
        <div class="button-container">
            <button mat-raised-button color="accent" (click)="acceptInvite()">
                Jóváhagy
            </button>
            <button mat-raised-button color="warn" (click)="rejectInvite()">
                Elutasít
            </button>
        </div>
        <small>{{notice.timestamp}}</small>
    </div>
</div>