.dialog-form {
    width: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;

    mat-form-field {
        width: 8em;
        // margin: auto;
        input {
            text-align: center;
        }
    }
}