<mat-toolbar color="primary">

  <span >
    <button *ngIf="!(isHandset$ | async)" type="button" [ngStyle]="{'padding-right': '1em'}" aria-label="Toggle sidenav" mat-icon-button
      (click)="navMenu.toggle()">
      <mat-icon aria-label="Side nav toggle icon">
        menu
      </mat-icon>
    </button>
    <span *ngIf="!isLoggedIn" routerLink="/main" routerLinkActive="active">
      <img [src]="URL + 'images/favicon.ico'" alt="favicon">
      eggshell
    </span>
  </span>

  <span class="user" *ngIf="(isHandset$ | async) && isLoggedIn" style="font-size: medium">
    <img [src]="userObject?.avatarUrl ? userObject?.avatarUrl : URL + 'images/favicon2.ico'" alt="favicon">
    {{userObject?.username}}
  </span>
  <div class="icons">
    <span class="user" *ngIf="!(isHandset$ | async) && isLoggedIn" style="font-size: medium">
      <img [src]="userObject?.avatarUrl ? userObject?.avatarUrl : URL + 'images/favicon2.ico'" alt="favicon">
      {{userObject?.username}}
    </span>
    <mat-icon *ngIf="!isLoggedIn" (click)="openLoginDialog()" matTooltip="Belépés" matTooltipPosition="below"
      matTooltipShowDelay=250 matTooltipHideDelay=500>
      login
    </mat-icon>
    <mat-icon *ngIf="!isLoggedIn" (click)="openRegDialog()" matTooltip="Regisztráció" matTooltipPosition="below"
      matTooltipShowDelay=250 matTooltipHideDelay=500>
      person_add
    </mat-icon>
    <mat-icon *ngIf="isLoggedIn" (click)="notificationDrawer.toggle()" matTooltip="Értesítések"
      matTooltipPosition="below" matTooltipShowDelay=250 matTooltipHideDelay=500
      [matBadge]="(notificationCounter$ | async)" [matBadgeHidden]="!(!!(notificationCounter$ | async))"
      matBadgeColor="warn" matBadgeSize="medium" matBadgeOverlap="true"
      [ngStyle]="(!!(notificationCounter$ | async)) ? {'margin-right': '0.5em'} : {}">
      {{!!(notificationCounter$ | async) ? 'notifications_active' : 'notifications'}}
    </mat-icon>
    <button *ngIf="(isHandset$ | async)" type="button" aria-label="Toggle sidenav" mat-icon-button
      (click)="navMenu.toggle()">
      <mat-icon aria-label="Side nav toggle icon">
        menu
      </mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #navMenu class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [position]="(isHandset$ | async) ? 'end' : 'start'"
    [disableClose]="(isHandset$ | async) ? false : true" [opened]="(isHandset$ | async) ? false : true">

    <mat-toolbar color="primary"></mat-toolbar>

    <!-- Menü -->

    <mat-nav-list>
      <a *ngIf="isLoggedIn" mat-list-item [routerLink]="(hasBarton) ? '/main' : '/getting-started'"
        routerLinkActive="active" (click)="menuClick(navMenu)">
        <mat-icon>home</mat-icon>
        <span>Főoldal</span>
      </a>
      <a *ngIf="isLoggedIn" [disabled]="!hasBarton" mat-list-item routerLink="/add-egg" routerLinkActive="active"
        (click)="menuClick(navMenu)">
        <mat-icon>egg</mat-icon>
        <span>Tojás</span>
      </a>
      <a *ngIf="isLoggedIn" [disabled]="!hasBarton" mat-list-item routerLink="/add-egg" routerLinkActive="active"
        (click)="menuClick(navMenu)">
        <mat-icon>restaurant_menu</mat-icon>
        <span>Táp</span>
      </a>
      <a *ngIf="isLoggedIn" [disabled]="!hasBarton" mat-list-item routerLink="/add-egg" routerLinkActive="active"
        (click)="menuClick(navMenu)">
        <mat-icon>trending_up</mat-icon>
        <span>Statisztikák</span>
      </a>
      <a *ngIf="isLoggedIn" mat-list-item routerLink="/settings" routerLinkActive="active" (click)="menuClick(navMenu)">
        <mat-icon>settings</mat-icon>
        <span>Beállítások</span>
      </a>
      <a *ngIf="!isLoggedIn" mat-list-item (click)="menuClick(navMenu)" (click)="openLoginDialog()">
        <mat-icon>login</mat-icon>
        <span>Belépés</span>
      </a>
      <a *ngIf="!isLoggedIn" mat-list-item (click)="menuClick(navMenu)" (click)="openRegDialog()">
        <mat-icon>person_add</mat-icon>
        <span>Regisztráció</span>
      </a>
      <a *ngIf="isLoggedIn" mat-list-item (click)="menuClick(navMenu)" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Kilépés</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Content -->
    <div class="progress">
      <!-- <mat-progress-bar mode="indeterminate" *ngIf="progress.isLoading"></mat-progress-bar> -->
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>

  <mat-sidenav #notificationDrawer class="sidenav" fixedInViewport attr.role="dialog" position="end">
    <mat-toolbar></mat-toolbar>
    <div class="notification-container" *ngFor="let notice of (notificationSubject$ | async); index as i">
      <!-- <div class="notice-container" *ngIf="notice.type === 'request'">
        <img [src]="notice.avatarUrl ? notice.avatarUrl : URL + 'images/favicon2.ico'" alt="favicon">
        <div class="content-container" >
          <p>{{notice.username}} hozzáférést kér</p>
          <div class="button-container">
            <button mat-raised-button color="accent">Jóváhagy</button>
            <button mat-raised-button color="warn">Elutasít</button>
          </div>
        </div>
      </div> -->
      <app-notification [notice]="notice" [index]="i"></app-notification>
    </div>

  </mat-sidenav>

</mat-sidenav-container>